<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-lg-offset-3"><br>
        <form #formData='ngForm'>
          <div class="formgroup">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control"
            placeholder="* Enter valid email."
            ngModel
            name="email"
            required
            />
          </div>
          <div class="formgroup">
            <label for="pwd">Password</label>
            <input type="password" id="pwd" class="form-control"
            placeholder="* Enter password."
            ngModel
            name="pwd"
            required
            minlength="6" />
          </div>
          <div class="formgroup">
              <label for="cpwd">Confirm Password</label>
              <input type="password" id="cpwd" class="form-control"
              placeholder="* Confirm password."
              ngModel
              name="cpwd"
              required
              minlength="6"/>
            </div>
          <div class="formgroup"><br>
              <button class="btn btn-secondary"
              (click)="register(formData)"
              [disabled]="!formData.valid">Register</button>
          </div>
          <!-- <app-toast 
          *ngIf="showToaster" 
          [toastType]="propToastType"></app-toast> -->
          <app-model-alert
            *ngIf="showModelAlert" ></app-model-alert>
        </form>
      </div>
    </div>
  </div>
  