.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: white;
    .copy-right{
        font-family: italic;
    }
    ul li{
        text-decoration: none;
    }
    .f-content:hover{
        border-top: 5px solid gray;
    }
}

