<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-lg-offset-3"><br>
      <form #_loginForm='ngForm'>
        <div class="formgroup">
          <label for="uname">Email</label>
          <input type="email" id="email" class="form-control"
            placeholder="* Enter valid email."
            ngModel
            name='email'
            required
            />
        </div>
        <div class="formgroup">
          <label for="pwd">Password</label>
          <input type="password" id="pwd" class="form-control"
            placeholder="* Enter password."
            ngModel
            name='pwd'
            required
            minlength="6"/>
        </div>
        <div class="formgroup">
          <a class="nav-link" routerLink='/registration'>don't have account ?</a>
            <button class="btn btn-secondary"
            (click)="login(_loginForm)"
            [disabled]='!_loginForm.valid'>Login</button>
        </div>
        <app-toast 
          *ngIf="showToaster" 
          [toastType]="propToastType"></app-toast>
      </form>
    </div>
  </div>
</div>
