.increase {
    width: 50px;
    color: green;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.decrease {
    width: 50px;
    color: red;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}