<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12"><br>
        <div class="card bg-light text-dark">
            <div class="card-header">
                Your orders
              </div>
            <div class="card-body">
                <table class="table table-hover"
                *ngIf="!isCartEmpty()">
                <thead>
                  <tr>
                    <th>S No</th>
                    <th>Product Name</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items; let i = index;" >
                    <td>{{i + 1}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item["prod_details"].price}}</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><i><b>Total</b></i></td>
                      <td><i><b>1,000</b></i></td>
                    </tr>
                </tbody>
              </table>
              <p *ngIf="isCartEmpty()" >Your cart is empty...</p>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-primary"> < Continue Shopping </button>&nbsp;
              <button class="btn btn-primary">Place Order ></button>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-12"><br>
        <div class="card bg-light text-dark">
            <div class="card-header">
                Delivery details
              </div>
            <div class="card-body">
                Delivery details
            </div>
      </div>
    </div>
  </div>
</div>

